{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports",
        "transform-object-rest-spread",
        "transform-async-to-generator"
      ]
    },
    "production": {
      "presets": ["env", "minify"],
      "plugins": [
        "add-module-exports",
        "transform-object-rest-spread",
        "transform-async-to-generator"
      ]
    }
  }
}
